# What is Jupyter  Notebook
* The Jupyter Notebook is an open-source web application that allows data scientists to create and share documents that           integrate live code, equations, computational output, visualizations, and other multimedia resources,

* Uses include data cleaning and transformation, numerical simulation, statistical modeling, data visualization, machine         learning, and much more.

## Tutorial
- Interactive
- Results/outputs are stored so it is easy to review
- Friendly for documentation
- No limitation from performance 
- helpful shortcuts
- Industry standard for all data science, ML, AI projects.

<p> Extension of jupyter file is ipynb (i python notebook, previous name of Jupyter) </p>

### mode 
* Green----> edit mode(Enter button)
* blue-----> command mode(Esc button)

# Short Cuts

[shift] + [enter] : run a cell

Command mode:
a : insert cell above

b : insert cell below

dd : delete a cell

z : undo a delete cell

r : convert cell to raw cell

m : convert cell to Markdown cell

y : convert cell to code cell

c: copy a cell

v : paste a cell

x : cut a cell

o : toggle output

# Edit Mode:

Ctrl + C : copy a text

Ctrl + V : paste

Ctrl + X : cut

Ctrl + Z : undo

# Keywords

* Keywords in python are reserved words in python and cant be used as identifiers.

In [ ]:
import keyword # built-in module
print(keyword.kwlist)  # It will give all keywords of python

In [ ]:
len(keyword.kwlist)

# Identifiers

* An identifier is the name given to entities like functions,variables etc.
* It helps in differentiating one entity from other.

In [ ]:
pi = 3.142  # a is of type float
rad = 4.0   # b is of type float
area= pi * rad * rad
area

In [ ]:
va%123='abc' # Identifer cannot use special symbol

In [ ]:
# user-defined name
dc = 3
VAR = 'hi'
Var = 8
v3 = 5
v6h = 5
va_1  = 34

In [ ]:
import=123 # Keywords cannot be used as identifier

In [ ]:
"""
Correct way of defining an identifier
(Identifiers can be a combination of letters in lowercase (a to z) or uppercase 
and only special chararcter allowed is _(underscore) )"""

var = 1

# var is entity called as variable which has been created and assigned with value of 1

# Comments

* Comments can be used to explain the code for more readabilty.

In [ ]:
# Finding square of a number 5 
a = 5**2
# a will print square of 5
a

In [ ]:
# creating a variable 
# and assigning 10
val1 = 10

In [ ]:
'''this
is 
a 
comment'''

val1

In [ ]:
"""this is multiple 
line comment"""

val1

# Statements

* Instructions that a Python interpreter can execute.

In [ ]:
x1=10
y1=21

In [ ]:
ans=x1+y1

In [ ]:
ans

In [ ]:
a=1
b=b+a
print(b)

In [ ]:
# Single line statement
p2 = ['a' , 'b' , 'c' , 'd']

In [ ]:
# Multiple line statement
p1 = 20 + 30 + 40+ 50 + 70 + 80 + 45 +67 + 45 +56 +78+89+90+45+34+23+23\
     +34+21+32+54 + 34  +56 + 78 +45 +34+78 +90+34+23+23+56+50+67

In [ ]:
p1

# Variables

*  A Python variable is a reserved memory location to store values.
* A variable is created the moment you first assign a value to it.

In [ ]:
#### variable creation
### in python evertyhing is an object
A = 78
# print("Location of A variable is:",id(A))
# print(type(A))
B = 67

In [ ]:
A # calling of variable

In [ ]:
B

In [ ]:
A + B

In [ ]:
print(A)
B

In [ ]:
print(A+B)

In [ ]:
print(A) ## print the variable
print(B)

In [ ]:
# Creating a variable in heap memory
k=10

In [ ]:
k

In [ ]:
'''
id() function returns the “identity” of the object. 
The identity of an object - Is an integer
 - Guaranteed to be unique
 - Constant for this object during its lifetime. 
'''
id(k)

##### Code Block

In [ ]:
def a():
    if 3>2: # indentation , use Tab for indentation
        print('True')
a()

In [ ]:
hello = 56 # hello -> variable name

In [ ]:
id(hello)

In [ ]:
hello = 50.5
id(hello)

In [ ]:
x=10
print(x,id(x),type(x))

x="Hello World" # latest assignment
print(x,id(x),type(x))

x=10.5
print(x,id(x),type(x))

In [ ]:
a = 'hello' # hello is value (data)
___a=10
___add=20
___myname="Python"

kprime=10

In [ ]:
_ = 7
id(_)  
print(kprime)

In [ ]:
p=20   
q=20
r=q

In [ ]:
print(id(p))
print(id(q))
print(id(r))

# Variable Assignment

In [ ]:
intvar = 48 # Integer variable
floatvar = 2.57 # Float Variable
strvar = "Python Language" # String variable

print(intvar)
print(floatvar)
print(strvar)

# Multiple Assignment

In [ ]:
intvar , floatvar , strvar = 10,2.57,"Python Language"  
# Using commas to separate variables
print('the value of intvar is:', intvar)
print(floatvar)
print(strvar)

In [ ]:
print('the value of intvar :',intvar,'the value of floatvar:',floatvar, 'the value of strvar:',strvar)

In [ ]:
p1 = p2 = p3 = p4 = 44 
# All variables pointing to same value
print(p1,p2,p3,p4)
print(id(p1),id(p4))

In [ ]:
#   Add     
# two numbers        using     
# multiple assignment     and 
# print result

# a & b initialized
a,b=10,20

# a and b added and sum is stored in result
result=a+b

# result is printed with variables involved in dynamically framing statement
print('sum of',a,'and',b,'is',result)

In [ ]:
# Read two integer numbers using input() and multiply them
# 1. get values from user store them in two seperate variables
# 2. multiply two variables and store them in mul variable

a=int(input("Enter value 1:"))
b=int(input("Enter value 2:"))

mul= a*b
print('Multiplication of',a,' and',b,'is',mul)

In [ ]:
# Get users information like Name,Age,Email,PhoneNumber,Address,Profession
# and print in a nice pragraph to look like a biography.

# 1.  Get user input with input() Name,Age,Email,PhoneNumber,Address,Profession
# 2.  
name=input("Enter the name:")
age=input("Enter the age:")
email=input("Enter the email:")

print("My name is",name," & i am",age,"years old, having professional email id",email)

In [ ]:
year=int(input("Year of birth?"))
age=2023-year
age

In [ ]:
a=4
sq=a**0.5
sq

##### Area of triangle

In [ ]:
b=float(input("Enter base value:"))
h=float(input("Enter height value:"))
area=0.5*b*h
print('the area of triangle with base',b,'and height',h,'is',area)

##### Simple Interest

In [ ]:
# (P*T*R)/100
p=int(input("Enter principle value:"))
t=float(input("Enter duration value:"))
r=float(input("Enter rate value:"))
SI=(p*t*r)/100
Total_amount=p+SI
print('Simple interest on Rs.',p,' for the duration of',t,'years with the interest rate of',r,'% is',SI,'& Total repayable amount is,',Total_amount)

##### Compound Interest

In [ ]:
# (P*T*R)/100
# ((P*T*R)/100) for 1 year
# p*(1+r/n)*(n*2)
# p*(1+(r/100))**t)
CI=100*(1+(10/100))**2
CI
# p=int(input("Enter principle value:"))
# t=float(input("Enter duration value:"))
# r=float(input("Enter rate value:"))
# SI=(p*t*r)/100
# Total_amount=p+SI
# print('Simple interest on Rs.',p,' for the duration of',t,'years with the interest rate of',r,'% is',SI,'& Total repayable amount is,',Total_amount)

# Data Types

## Numeric

In [ ]:
# integer, float, boolean, complex, string

In [ ]:
# it allows you to interact with Python interpreter and operating system environment
# provides functions for system-related functionality
import sys

In [ ]:
val1 = 10 # Integer data type
print(val1)
print(type(val1)) # type of object
print(sys.getsizeof(val1)) # size of integer object in bytes 
print(val1, " is Float?", isinstance(val1, float)) # checks if an object belongs to a specific class

In [ ]:
print(val1,"is float?",isinstance(val1,complex))

In [ ]:
print(isinstance(val1,complex))

In [ ]:
print(val1, "is integer?", isinstance(val1,int))

In [ ]:
val2 = 92.78 # Float data type
print(val2)
print(type(val2)) # type of object
print(sys.getsizeof(val2)) # size of float object in bytes
print(val2, " is float?", isinstance(val2, float)) # Val2 is an instance of float

In [ ]:
val3 = 25 + 10j # Complex data type

In [ ]:
val3

In [ ]:
type(val3)

In [ ]:
sys.getsizeof(val3)

In [ ]:
isinstance(val3,complex)

In [ ]:
val1 = 'geetha'

In [ ]:
val1 = 3+5j

In [ ]:
isinstance(val1,complex)

# Boolean

* Boolean data type can have only two possible values true or false.

In [ ]:
b1=True

In [ ]:
b2=False

In [ ]:
type(b1)

In [ ]:
isinstance(b2, int)

In [ ]:
isinstance(b1, bool)

In [ ]:
isinstance(b1, str)

In [ ]:
a = 'True'
type(a)

## String

###  String creation

In [ ]:
a = '1'
type(a)

In [ ]:
mystr = 'Hello World 1' # Define string using single quotes
print(mystr)

In [ ]:
type(mystr)

### String indexing

In [ ]:
str1='HELLO PYTHON'

In [ ]:
str1[4]
# str1[6]

In [ ]:
str1[0] # First character in string "str1"

In [ ]:
str1[-12]

In [ ]:
str1[-7]

In [ ]:
len(str1)
# Number of elements in given string.

In [ ]:
len(str1)-1

In [ ]:
str1[len(str1)-1] # Last character in string using len function # str1[11]

In [ ]:
str1[-1] # Last character in string

In [ ]:
str1[11]

In [ ]:
str1[6] #Fetch 7th element of the string

### String Slicing

In [ ]:
str1='HELLO PYTHON'

In [ ]:
str1

In [ ]:
str1[0:5] ## start:end str1[:5]

In [ ]:
str1[:5] # if no start index is given, by default it will start from the beginning

In [ ]:
str1[6:12]

In [ ]:
str1[6:] # if end index is not given, by default it goes till the end

In [ ]:
str1[6:13:3]

In [ ]:
a=[1,2,3,4,5,6,7,8,9]
a[::2]

In [ ]:
str1[-11:-7]

In [ ]:
str1[-1:-7:-1]

In [ ]:
str1[9:6:-1]

In [ ]:
str1[-4:-11:-1]

In [ ]:
str1[:]

In [ ]:
str1

In [ ]:
str1[3:]

In [ ]:
str1[9:1:-2]

In [ ]:
str2='Data is new fuel'
# Task:-Extract new and Data from above string

In [ ]:
len(str2)

In [ ]:
print(str2[:4],str2[8:11])

In [ ]:
#new
str2[8:11]

In [ ]:
# data
str2[:4]

In [ ]:
# Task:Reverse 'Data' from above str2 [ 0     15], [-16 -15 -14 -13 -12......-1]
str2[-12:-17:-1]

In [ ]:
# Task: Reverse 'new' from above str2
print(str2)
str2[-6:-9:-1]

### Update and Delete string

* Strings are immutable which means elements of a
string cannot be changed once the they are assigned with
any values

In [ ]:
str1

In [ ]:
str1[0:2]='HI'

In [ ]:
str2 = str1.replace('HE','HI') 
# string.replace('character to replace','by what value 
#the character should be replaced')

In [ ]:
str2

In [ ]:
str2=str1.replace('','*')

In [ ]:
print(str2)

In [ ]:
del str1 # Delete a string

In [ ]:
str1

### String concatenation

In [ ]:
#  String concatenation
s1 = "Data" 
s2 = "Science"
s3=s1 + s2

In [ ]:
s3

In [ ]:
#  String concatenation
s1 = "Data"
s2 = "Science"
s3 = s1 +" "+ s2
s3

### String Membership

In [ ]:
# String membership
mystr1 = "Hello Everyone"

In [ ]:
'Hello' in mystr1 # Check whether 
#substring "Hello" is present in given string

In [ ]:
#Task: find numbers in a string by taking strings from user.
str3=input("Enter string")
'2' in str3

### String Functions

##### String Partioning

In [ ]:
"""
The partition() method searches for a specified string and splits the string into
 - The first element contains the part before the argument string.
 - The second element contains the argument string.
 - The third element contains the part after the argument string.
"""

str5 = "Natural language processing with Python and R and Java"
L = str5.partition("and") # returns tuple
L

In [ ]:
mystr2 = " Hello Everyone "
mystr2

In [ ]:
# count
mystr2.count('Hello') ## count the number of occurence of given substring in given string

In [ ]:
mystr2

In [ ]:
# strip
mystr2.strip('one ')

In [ ]:
mystr2

In [ ]:
mystr2.rstrip() # Removes all whitespaces at the end of the string

In [ ]:
mystr2.lstrip() # Removes all whitespaces at the begining of the string

In [ ]:
mystr2

In [ ]:
mystr2 = "*********Hello Everyone***********All the Best**********"
mystr2

In [ ]:
mystr2.strip('*') # Removes all '*' characters from begining 
#& end of the string

In [ ]:
mystr2.lstrip('*')

In [ ]:
mystr2.rstrip('*')

In [ ]:
mystr2='HELLO PYTHON'

In [ ]:
mystr2 = mystr2.lower()

In [ ]:
mystr2

In [ ]:
mystr5='hello python'

In [ ]:
mystr5.upper()

In [ ]:
mystr5

In [ ]:
mystr5.startswith("He") 
# Return boolean value True if string starts with "He"

In [ ]:
mystr5.endswith("thon") 
# Return boolean value 'True' if string ends with "thon"

In [ ]:
mystr4 = "one two three four one two two three five five six seven six seven one oneone ten eight ten nine eleven ten ten nine"

In [ ]:
mystr4

In [ ]:
# split() - returns a list as output

# 
print(mystr4.split()) 
# list1=mystr4.split()

In [ ]:
print(mystr4.split())

In [ ]:
# list1

In [ ]:
mystr4

In [ ]:
a = 5
b = 7
Sum=a+b
print("the value of a & b is ",a,b)

In [ ]:
print("the sum of a is {} & b is {} this is my sum {} ".format(a,b,Sum))

In [ ]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77
"Cost of item1 ,item3 and item2 are {} , {} and {}".format(item1,item3,item2)

In [ ]:
a=5
b=3
c=9
print('The value of a is {2} and the value of b is {1} value of c is {0}  '.format(a,b,c))

# Typecasting

* Type Casting is the method to convert the variable data type into a certain data 
type in order to the operation required to be performed by users.

* There are 2 ways in which typecasting is performed.

1) Autotypecasting


2) Forced Typecasting

## Auto Typecasting
* The Python interpreter automatically converts one data type to another without any user involvement.

In [ ]:
4 + 5.67  # ==> 4.0+5.67

##( background processing of the code) due to the  
##higher hierarchy of float datatype

In [ ]:
4 + 5.6 + False + True
# 4.0 +5.6+0.0+1.0

In [ ]:
4+3+'data'+6.7

In [ ]:
True+2.56+1 #1.0+2.56+1.0

In [ ]:
True + 3 # 1+3

## Forced Typecasting

In [ ]:
a=9.7
a

In [ ]:
type(a)

In [ ]:
b = int(a)
b

In [ ]:
a = ''
type(a)

In [ ]:
bool(a)

In [ ]:
a = 7.9

In [ ]:
b = 1
bool(b)

In [ ]:
str(a) # float(), str(), int(), bool(), complex()

In [ ]:
a=5

In [ ]:
float(a)

In [ ]:
bool("")

In [ ]:
a

In [ ]:
str(a)

In [ ]:
complex(a)

In [ ]:
a=False

In [ ]:
float(a)

In [ ]:
int(a)

In [ ]:
str(a)

In [ ]:
a='qewrw'

In [ ]:
float(a)

In [ ]:
int(a)

In [ ]:
# c=""
# print(len(c))
bool(a)

In [ ]:
a='2'

In [ ]:
type(a)

In [ ]:
int(a)

In [ ]:
float(a)

In [ ]:
bool(a)

In [ ]:
int('data')

In [ ]:
int('2')

In [ ]:
float('2')

In [ ]:
int(True)

In [ ]:
int(False)

In [ ]:
float(True)

In [ ]:
float(False)

In [ ]:
float('abc')  # Convert the datatype to float

In [ ]:
bool(8.9)#converting float type into bool

In [ ]:
bool(0)

In [ ]:
bool(-1)

In [ ]:
# Guess the output
int(1.5)+4+bool(0) # --> 1+4+False --> 1+4+0

In [ ]:
int(5.6)+float(6)+bool(23) # --> 5+6.0+True --> 5.0+6.0+1.0
# 5+6.0+True
# 5.0+6.0+1.0

In [ ]:
int(6.5)+1.2+int(5.5)+ bool(0) # --> 6+1.2+5+False --> 6.0+1.2+5.0+0.0
# 6+1.2+5+False
# 6.0+1.2+5.0+0.0

In [ ]:
str(5)

In [ ]:
str(9.0)

In [ ]:
str(True)

In [ ]:
str(False)

In [1]:
# Task: Recieve String Input from user, make it as Upper case, 
#       add -(minus) wherever there are spaces in string input and
#       print the string length. 

# Task: Recieve String Input from user, make it as Upper case, 
#       add -(minus) wherever there are spaces in string input and
#       print the string length. 

# 1. take user inputs
a=str(input("Enter a string"))

#2. convert into upper()
a=a.upper()

#3. replace space with minus -
a=a.replace(' ','-')

#4. prtint ans
print(a)

#5. print length
len(a)

Enter a stringHello Python
HELLO-PYTHON

12

In [6]:
#Task:  Read two numbers from user, one is integer and another float,
#      add them and find the datatype and also convert them into boolean type.

#1. Get 2 number inputs 1 is int 2nd is float
a = int(input('Enter first number:')) # string
b = float(input('Enter second number:'))

#2. compute sum
c= a+b
print(c)

#3.finding type
print(type(c))

#4. convert into bool
bool(c)

Enter first number:-1
Enter second number:1.0
0.0
<class 'float'>

False

<class 'float'>

False