# What is Jupyter  Notebook
* The Jupyter Notebook is an open-source web application that allows data scientists to create and share documents that           integrate live code, equations, computational output, visualizations, and other multimedia resources,

* Uses include data cleaning and transformation, numerical simulation, statistical modeling, data visualization, machine         learning, and much more.

## Tutorial
- Interactive
- Results/outputs are stored so it is easy to review
- Friendly for documentation
- No limitation from performance 
- helpful shortcuts
- Industry standard for all data science, ML, AI projects.

<p> Extension of jupyter file is ipynb (i python notebook, previous name of Jupyter) </p>

### mode 
* Green----> edit mode(Enter button)
* blue-----> command mode(Esc button)

# Short Cuts

[shift] + [enter] : run a cell

Command mode:
a : insert cell above

b : insert cell below

dd : delete a cell

z : undo a delete cell

r : convert cell to raw cell

m : convert cell to Markdown cell

y : convert cell to code cell

c: copy a cell

v : paste a cell

x : cut a cell

o : toggle output

# Edit Mode:

Ctrl + C : copy a text

Ctrl + V : paste

Ctrl + X : cut

Ctrl + Z : undo

# Keywords

* Keywords in python are reserved words in python and cant be used as identifiers.

In [3]:
import keyword # built-in module
print(keyword.kwlist)  # It will give all keywords of python

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [4]:
len(keyword.kwlist)

35

# Identifiers

* An identifier is the name given to entities like functions,variables etc.
* It helps in differentiating one entity from other.

In [5]:
pi = 3.142  # a is of type float
rad = 4.0   # b is of type float
area= pi * rad * rad
area

50.272

In [6]:
va%123='abc' # Identifer cannot use special symbol

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (571277125.py, line 1)

In [8]:
# user-defined name
dc = 3
VAR = 'hi'
Var = 8
v3 = 5
v6h = 5
va_1  = 34

In [9]:
import=123 # Keywords cannot be used as identifier

SyntaxError: invalid syntax (4267806053.py, line 1)

In [10]:
"""
Correct way of defining an identifier
(Identifiers can be a combination of letters in lowercase (a to z) or uppercase 
and only special chararcter allowed is _(underscore) )"""

var = 1

# var is entity called as variable which has been created and assigned with value of 1

# Comments

* Comments can be used to explain the code for more readabilty.

In [11]:
# Finding square of a number 5 
a = 5**2
# a will print square of 5
a

25

In [12]:
# creating a variable 
# and assigning 10
val1 = 10

In [13]:
'''this
is 
a 
comment'''

val1

10

In [14]:
"""this is multiple 
line comment"""

val1

10

# Statements

* Instructions that a Python interpreter can execute.

In [15]:
x1=10
y1=21

In [16]:
ans=x1+y1

In [17]:
ans

31

In [18]:
a=1
b=b+a
print(b)

NameError: name 'b' is not defined

In [19]:
# Single line statement
p2 = ['a' , 'b' , 'c' , 'd']

In [20]:
# Multiple line statement
p1 = 20 + 30 + 40+ 50 + 70 + 80 + 45 +67 + 45 +56 +78+89+90+45+34+23+23\
     +34+21+32+54 + 34  +56 + 78 +45 +34+78 +90+34+23+23+56+50+67

In [21]:
p1

1694

# Variables

*  A Python variable is a reserved memory location to store values.
* A variable is created the moment you first assign a value to it.

In [22]:
#### variable creation
### in python evertyhing is an object
A = 78
# print("Location of A variable is:",id(A))
# print(type(A))
B = 67

In [23]:
A # calling of variable

78

In [24]:
B

67

In [25]:
A + B

145

In [26]:
print(A)
B

78

67

In [27]:
print(A+B)

145

In [28]:
print(A) ## print the variable
print(B)

78
67

In [29]:
# Creating a variable in heap memory
k=10

In [30]:
k

10

In [31]:
'''
id() function returns the “identity” of the object. 
The identity of an object - Is an integer
 - Guaranteed to be unique
 - Constant for this object during its lifetime. 
'''
id(k)

140710852686920

##### Code Block

In [32]:
def a():
    if 3>2: # indentation , use Tab for indentation
        print('True')
a()

True

In [33]:
hello = 56 # hello -> variable name

In [34]:
id(hello)

140710852688392

In [35]:
hello = 50.5
id(hello)

2450277654672

In [36]:
x=10
print(x,id(x),type(x))

x="Hello World" # latest assignment
print(x,id(x),type(x))

x=10.5
print(x,id(x),type(x))

10 140710852686920 <class 'int'>
Hello World 2448137151216 <class 'str'>
10.5 2450277653136 <class 'float'>

In [37]:
a = 'hello' # hello is value (data)
___a=10
___add=20
___myname="Python"

kprime=10

In [38]:
_ = 7
id(_)  
print(kprime)

10

In [39]:
p=20   
q=20
r=q

In [40]:
print(id(p))
print(id(q))
print(id(r))

140710852687240
140710852687240
140710852687240

# Variable Assignment

In [41]:
intvar = 48 # Integer variable
floatvar = 2.57 # Float Variable
strvar = "Python Language" # String variable

print(intvar)
print(floatvar)
print(strvar)

48
2.57
Python Language

# Multiple Assignment

In [42]:
intvar , floatvar , strvar = 10,2.57,"Python Language"  
# Using commas to separate variables
print('the value of intvar is:', intvar)
print(floatvar)
print(strvar)

the value of intvar is: 10
2.57
Python Language

In [43]:
print('the value of intvar :',intvar,'the value of floatvar:',floatvar, 'the value of strvar:',strvar)

the value of intvar : 10 the value of floatvar: 2.57 the value of strvar: Python Language

In [44]:
p1 = p2 = p3 = p4 = 44 
# All variables pointing to same value
print(p1,p2,p3,p4)
print(id(p1),id(p4))

44 44 44 44
140710852688008 140710852688008

In [45]:
#   Add     
# two numbers        using     
# multiple assignment     and 
# print result

# a & b initialized
a,b=10,20

# a and b added and sum is stored in result
result=a+b

# result is printed with variables involved in dynamically framing statement
print('sum of',a,'and',b,'is',result)

sum of 10 and 20 is 30

In [46]:
# Read two integer numbers using input() and multiply them
# 1. get values from user store them in two seperate variables
# 2. multiply two variables and store them in mul variable

a=int(input("Enter value 1:"))
b=int(input("Enter value 2:"))

mul= a*b
print('Multiplication of',a,' and',b,'is',mul)

Enter value 1:

ValueError: invalid literal for int() with base 10: ''

In [ ]:
# Get users information like Name,Age,Email,PhoneNumber,Address,Profession
# and print in a nice pragraph to look like a biography.

# 1.  Get user input with input() Name,Age,Email,PhoneNumber,Address,Profession
# 2.  
name=input("Enter the name:")
age=input("Enter the age:")
email=input("Enter the email:")

print("My name is",name," & i am",age,"years old, having professional email id",email)

In [ ]:
year=int(input("Year of birth?"))
age=2023-year
age

In [ ]:
a=4
sq=a**0.5
sq

##### Area of triangle

In [ ]:
b=float(input("Enter base value:"))
h=float(input("Enter height value:"))
area=0.5*b*h
print('the area of triangle with base',b,'and height',h,'is',area)

##### Simple Interest

In [47]:
# (P*T*R)/100
p=int(input("Enter principle value:"))
t=float(input("Enter duration value:"))
r=float(input("Enter rate value:"))
SI=(p*t*r)/100
Total_amount=p+SI
print('Simple interest on Rs.',p,' for the duration of',t,'years with the interest rate of',r,'% is',SI,'& Total repayable amount is,',Total_amount)

Enter principle value:

ValueError: invalid literal for int() with base 10: ''

##### Compound Interest

In [48]:
# (P*T*R)/100
# ((P*T*R)/100) for 1 year
# p*(1+r/n)*(n*2)
# p*(1+(r/100))**t)
CI=100*(1+(10/100))**2
CI
# p=int(input("Enter principle value:"))
# t=float(input("Enter duration value:"))
# r=float(input("Enter rate value:"))
# SI=(p*t*r)/100
# Total_amount=p+SI
# print('Simple interest on Rs.',p,' for the duration of',t,'years with the interest rate of',r,'% is',SI,'& Total repayable amount is,',Total_amount)

121.00000000000001

# Data Types

## Numeric

In [49]:
# integer, float, boolean, complex, string

In [50]:
# it allows you to interact with Python interpreter and operating system environment
# provides functions for system-related functionality
import sys

In [51]:
val1 = 10 # Integer data type
print(val1)
print(type(val1)) # type of object
print(sys.getsizeof(val1)) # size of integer object in bytes 
print(val1, " is Float?", isinstance(val1, float)) # checks if an object belongs to a specific class

10
<class 'int'>
28
10  is Float? False

In [52]:
print(val1,"is float?",isinstance(val1,complex))

10 is float? False

In [53]:
print(isinstance(val1,complex))

False

In [54]:
print(val1, "is integer?", isinstance(val1,int))

10 is integer? True

In [55]:
val2 = 92.78 # Float data type
print(val2)
print(type(val2)) # type of object
print(sys.getsizeof(val2)) # size of float object in bytes
print(val2, " is float?", isinstance(val2, float)) # Val2 is an instance of float

92.78
<class 'float'>
24
92.78  is float? True

In [56]:
val3 = 25 + 10j # Complex data type

In [57]:
val3

(25+10j)

In [58]:
type(val3)

complex

In [59]:
sys.getsizeof(val3)

32

In [60]:
isinstance(val3,complex)

True

In [61]:
val1 = 'geetha'

In [62]:
val1 = 3+5j

In [63]:
isinstance(val1,complex)

True

# Boolean

* Boolean data type can have only two possible values true or false.

In [64]:
b1=True

In [65]:
b2=False

In [66]:
type(b1)

bool

In [67]:
isinstance(b2, int)

True

In [68]:
isinstance(b1, bool)

True

In [69]:
isinstance(b1, str)

False

In [70]:
a = 'True'
type(a)

str

## String

###  String creation

In [71]:
a = '1'
type(a)

str

In [72]:
mystr = 'Hello World 1' # Define string using single quotes
print(mystr)

Hello World 1

In [73]:
type(mystr)

str

### String indexing

In [74]:
str1='HELLO PYTHON'

In [75]:
str1[4]
# str1[6]

'O'

In [76]:
str1[0] # First character in string "str1"

'H'

In [77]:
str1[-12]

'H'

In [78]:
str1[-7]

' '

In [79]:
len(str1)
# Number of elements in given string.

12

In [80]:
len(str1)-1

11

In [81]:
str1[len(str1)-1] # Last character in string using len function # str1[11]

'N'

In [82]:
str1[-1] # Last character in string

'N'

In [83]:
str1[11]

'N'

In [84]:
str1[6] #Fetch 7th element of the string

'P'

### String Slicing

In [133]:
str1='HELLO PYTHON'

In [86]:
str1

'HELLO PYTHON'

In [87]:
str1[0:5] ## start:end str1[:5]

'HELLO'

In [88]:
str1[:5] # if no start index is given, by default it will start from the beginning

'HELLO'

In [89]:
str1[6:12]

'PYTHON'

In [90]:
str1[6:] # if end index is not given, by default it goes till the end

'PYTHON'

In [91]:
str1[6:13:3]

'PH'

In [92]:
a=[1,2,3,4,5,6,7,8,9]
a[::2]

[1, 3, 5, 7, 9]

In [93]:
str1[-11:-7]

'ELLO'

In [94]:
str1[-1:-7:-1]

'NOHTYP'

In [95]:
str1[9:6:-1]

'HTY'

In [96]:
str1[-4:-11:-1]

'TYP OLL'

In [97]:
str1[:]

'HELLO PYTHON'

In [98]:
str1

'HELLO PYTHON'

In [99]:
str1[3:]

'LO PYTHON'

In [100]:
str1[9:1:-2]

'HY L'

In [101]:
str2='Data is new fuel'
# Task:-Extract new and Data from above string

In [102]:
len(str2)

16

In [109]:
print(str2[:4],str2[8:11])

Data new

In [108]:
#new
str2[8:11]

'new'

In [110]:
# data
str2[:4]

'Data'

In [116]:
# Task:Reverse 'Data' from above str2 [ 0     15], [-16 -15 -14 -13 -12......-1]
str2[-12:-17:-1]

' ataD'

In [121]:
# Task: Reverse 'new' from above str2
print(str2)
str2[-6:-9:-1]

Data is new fuel

'wen'

### Update and Delete string

* Strings are immutable which means elements of a
string cannot be changed once the they are assigned with
any values

In [122]:
str1

'HELLO PYTHON'

In [123]:
str1[0:2]='HI'

TypeError: 'str' object does not support item assignment

In [124]:
str2 = str1.replace('HE','HI') 
# string.replace('character to replace','by what value 
#the character should be replaced')

In [125]:
str2

'HILLO PYTHON'

In [128]:
str2=str1.replace('','*')

In [130]:
print(str2)

*H*E*L*L*O* *P*Y*T*H*O*N*

In [135]:
del str1 # Delete a string

In [136]:
str1

NameError: name 'str1' is not defined

### String concatenation

In [140]:
#  String concatenation
s1 = "Data" 
s2 = "Science"
s3=s1 + s2

In [141]:
s3

'DataScience'

In [144]:
#  String concatenation
s1 = "Data"
s2 = "Science"
s3 = s1 +" "+ s2
s3

'Data Science'

### String Membership

In [145]:
# String membership
mystr1 = "Hello Everyone"

In [146]:
'Hello' in mystr1 # Check whether 
#substring "Hello" is present in given string

True

In [149]:
#Task: find numbers in a string by taking strings from user.
str3=input("Enter string")
'2' in str3

Enter stringhi 2 all

True

### String Functions

##### String Partioning

In [156]:
"""
The partition() method searches for a specified string and splits the string into
 - The first element contains the part before the argument string.
 - The second element contains the argument string.
 - The third element contains the part after the argument string.
"""

str5 = "Natural language processing with Python and R and Java"
L = str5.partition("and") # returns tuple
L

('Natural language processing with Python ', 'and', ' R and Java')

In [157]:
mystr2 = " Hello Everyone "
mystr2

' Hello Everyone '

In [161]:
# count
mystr2.count('Hello') ## count the number of occurence of given substring in given string

1

In [168]:
mystr2

' Hello Everyone '

In [171]:
# strip
mystr2.strip('one ')

'Hello Every'

In [172]:
mystr2

' Hello Everyone '

In [178]:
mystr2.rstrip() # Removes all whitespaces at the end of the string

' Hello Everyone'

In [179]:
mystr2.lstrip() # Removes all whitespaces at the begining of the string

'Hello Everyone '

In [180]:
mystr2

' Hello Everyone '

In [181]:
mystr2 = "*********Hello Everyone***********All the Best**********"
mystr2

'*********Hello Everyone***********All the Best**********'

In [182]:
mystr2.strip('*') # Removes all '*' characters from begining 
#& end of the string

'Hello Everyone***********All the Best'

In [183]:
mystr2.lstrip('*')

'Hello Everyone***********All the Best**********'

In [184]:
mystr2.rstrip('*')

'*********Hello Everyone***********All the Best'

In [185]:
mystr2='HELLO PYTHON'

In [186]:
mystr2 = mystr2.lower()

In [187]:
mystr2

'hello python'

In [188]:
mystr5='hello python'

In [189]:
mystr5.upper()

'HELLO PYTHON'

In [190]:
mystr5

'hello python'

In [196]:
mystr5.startswith("He") 
# Return boolean value True if string starts with "He"

False

In [197]:
mystr5.endswith("thon") 
# Return boolean value 'True' if string ends with "thon"

True

In [198]:
mystr4 = "one two three four one two two three five five six seven six seven one oneone ten eight ten nine eleven ten ten nine"

In [199]:
mystr4

'one two three four one two two three five five six seven six seven one oneone ten eight ten nine eleven ten ten nine'

In [201]:
# split() - returns a list as output

# 
print(mystr4.split()) 
# list1=mystr4.split()

['one', 'two', 'three', 'four', 'one', 'two', 'two', 'three', 'five', 'five', 'six', 'seven', 'six', 'seven', 'one', 'oneone', 'ten', 'eight', 'ten', 'nine', 'eleven', 'ten', 'ten', 'nine']

In [208]:
print(mystr4.split())

['one', 'two', 'three', 'four', 'one', 'two', 'two', 'three', 'five', 'five', 'six', 'seven', 'six', 'seven', 'one', 'oneone', 'ten', 'eight', 'ten', 'nine', 'eleven', 'ten', 'ten', 'nine']

In [202]:
# list1

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one',
 'oneone',
 'ten',
 'eight',
 'ten',
 'nine',
 'eleven',
 'ten',
 'ten',
 'nine']

In [209]:
mystr4

'one two three four one two two three five five six seven six seven one oneone ten eight ten nine eleven ten ten nine'

In [213]:
a = 5
b = 7
Sum=a+b
print("the value of a & b is ",a,b)

the value of a & b is  5 7

In [215]:
print("the sum of a is {} & b is {} this is my sum {} ".format(a,b,Sum))

the sum of a is 5 & b is 7 this is my sum 12

In [218]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77
"Cost of item1 ,item3 and item2 are {} , {} and {}".format(item1,item3,item2)

'Cost of item1 ,item3 and item2 are 40 , 77 and 55'

In [222]:
a=5
b=3
c=9
print('The value of a is {2} and the value of b is {1} value of c is {0}  '.format(a,b,c))

The value of a is 9 and the value of b is 3 value of c is 5

# Typecasting

* Type Casting is the method to convert the variable data type into a certain data 
type in order to the operation required to be performed by users.

* There are 2 ways in which typecasting is performed.

1) Autotypecasting


2) Forced Typecasting

## Auto Typecasting
* The Python interpreter automatically converts one data type to another without any user involvement.

In [223]:
4 + 5.67  # ==> 4.0+5.67

##( background processing of the code) due to the  
##higher hierarchy of float datatype

9.67

In [224]:
4 + 5.6 + False + True
# 4.0 +5.6+0.0+1.0

10.6

In [225]:
4+3+'data'+6.7

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
True+2.56+1 #1.0+2.56+1.0

In [ ]:
True + 3 # 1+3

## Forced Typecasting

In [4]:
a=9.7
a

9.7

In [5]:
type(a)

float

In [6]:
b = int(a)
b

9

In [9]:
a = ''
type(a)

str

In [10]:
bool(a)

False

In [11]:
a = 7.9

In [14]:
b = 1
bool(b)

True

In [15]:
str(a) # float(), str(), int(), bool(), complex()

'7.9'

In [16]:
a=5

In [17]:
float(a)

5.0

In [18]:
bool("")

False

In [19]:
a

5

In [20]:
str(a)

'5'

In [21]:
complex(a)

(5+0j)

In [23]:
a=False

In [24]:
float(a)

0.0

In [25]:
int(a)

0

In [ ]:
str(a)

In [26]:
a='qewrw'

In [27]:
float(a)

ValueError: could not convert string to float: 'qewrw'

In [28]:
int(a)

ValueError: invalid literal for int() with base 10: 'qewrw'

In [34]:
# c=""
# print(len(c))
bool(a)

True

In [44]:
a='2'

In [45]:
type(a)

str

In [46]:
int(a)

2

In [47]:
float(a)

2.0

In [48]:
bool(a)

True

In [49]:
int('data')

ValueError: invalid literal for int() with base 10: 'data'

In [50]:
int('2')

2

In [51]:
float('2')

2.0

In [52]:
int(True)

1

In [53]:
int(False)

0

In [54]:
float(True)

1.0

In [55]:
float(False)

0.0

In [56]:
float('abc')  # Convert the datatype to float

ValueError: could not convert string to float: 'abc'

In [57]:
bool(8.9)#converting float type into bool

True

In [58]:
bool(0)

False

In [59]:
bool(-1)

True

In [60]:
# Guess the output
int(1.5)+4+bool(0) # --> 1+4+False --> 1+4+0

5

In [61]:
int(5.6)+float(6)+bool(23) # --> 5+6.0+True --> 5.0+6.0+1.0
# 5+6.0+True
# 5.0+6.0+1.0

12.0

In [62]:
int(6.5)+1.2+int(5.5)+ bool(0) # --> 6+1.2+5+False --> 6.0+1.2+5.0+0.0
# 6+1.2+5+False
# 6.0+1.2+5.0+0.0

12.2

In [63]:
str(5)

'5'

In [64]:
str(9.0)

'9.0'

In [65]:
str(True)

'True'

In [66]:
str(False)

'False'

In [ ]:
# Task: Recieve String Input from user, make it as Upper case, 
#       add -(minus) wherever there are spaces in string input and
#       print the string length.